You must add this to your nginx server setup:

    location /media/ {
        # Remove signature of the static files that is used to overcome the browser cache
        location ~ ^/media/version {
            rewrite ^/media/(version\d*/)?(.*)$ /media/$2 last;
        }
        add_header X-Frame-Options "SAMEORIGIN";
    }
    location /js/ {
        # Remove signature of the static files that is used to overcome the browser cache
        location ~ ^/js/version {
            rewrite ^/js/(version\d*/)?(.*)$ /js/$2 last;
        }
        add_header X-Frame-Options "SAMEORIGIN";
    }
    location /skin/ {
        # Remove signature of the static files that is used to overcome the browser cache
        location ~ ^/skin/version {
            rewrite ^/skin/(version\d*/)?(.*)$ /skin/$2 last;
        }
        add_header X-Frame-Options "SAMEORIGIN";
    }

If you have an specific setup where your static content is on a separate domain and the path
is on the root like the following link:

http://media.mydomain.com/

Then you have to add to your subdomain Nginx configuration the following:
    location ~ ^/version {
        rewrite ^/(version\d*/)?(.*)$ /$2 last;
    }

Full Example:
server {
    listen 80;
    server_name www.magentoinstance.com;
    root /path/to/your/magento/instance;

    ...

    location /media/ {
        # Remove signature of the static files that is used to overcome the browser cache
        location ~ ^/media/version {
            rewrite ^/media/(version\d*/)?(.*)$ /media/$2 last;
        }
        add_header X-Frame-Options "SAMEORIGIN";
    }
    location /js/ {
        # Remove signature of the static files that is used to overcome the browser cache
        location ~ ^/js/version {
            rewrite ^/js/(version\d*/)?(.*)$ /js/$2 last;
        }
        add_header X-Frame-Options "SAMEORIGIN";
    }
    location /skin/ {
        # Remove signature of the static files that is used to overcome the browser cache
        location ~ ^/skin/version {
            rewrite ^/skin/(version\d*/)?(.*)$ /skin/$2 last;
        }
        add_header X-Frame-Options "SAMEORIGIN";
    }

    ...
}

For Subdomain static content sites:
server {
    listen 80;
    server_name media.magentoinstance.com;
    root /path/to/your/magento/instance/media;

    ...

    location ~ ^/version {
        rewrite ^/(version\d*/)?(.*)$ /$2 last;
    }

    ...
}
